.image {
  margin-right: 15px;
}

.green {
  color: #83FFB3;
}

.yellow {
  color: yellow;
}

.red {
  color: #FF4C4C;
}

.rTable {
    display: table;
    width: 100%;
}

.rTableRow {
    display: table-row;
    width: 100%;
}

.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.rTableCell, .rTableHead {
    display: table-cell;
    float: left;
    width: 33%;
}

.rImageCell {
    display: table-cell;
    vertical-align: middle !important;
}

.rImageDiv {
    vertical-align: middle !important;
}
